.ax_default {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
._一级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
._文本段落 {
  text-align:left;
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
._流程形状 {
}
.box_1 {
}
.box_2 {
}
._图片 {
}
.iconfont {
  font-family:'iconfont Medium', 'iconfont';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
.label {
  font-size:14px;
  text-align:left;
}
.shape {
}
.box_3 {
}
.line {
}
.heading_2 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.connector {
}
.image {
  color:#000000;
}
.table_cell {
}
._形状 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.icon {
}
.box_11 {
}
.ellipse {
}
.text_field {
  color:#000000;
  text-align:left;
}
.el-button-m {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#606266;
  text-align:center;
}
._默认样式 {
}
.line1 {
}
._文本链接 {
  color:#0000FF;
}
._鼠标按下文本链接时 {
}
.box_21 {
  line-height:10px;
}
._默认样式1 {
}
._连接线 {
}
.el-button-primary {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
.checkbox {
  text-align:left;
}
._文本段落1 {
  text-align:left;
}
.ellipse1 {
}
.paragraph {
  text-align:left;
}
.button {
}
.text_field1 {
}
.ellipse2 {
}
.form_disabled1 {
}
._图片1 {
}
.image1 {
}
.iconfont1 {
  font-family:'iconfont Medium', 'iconfont';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
.flow_shape {
}
textarea, select, input, button { outline: none; }
